# Dependency directories
node_modules/
jspm_packages/

# Build directory
public/
resources/_gen/
.hugo_build.lock

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
tmp/
temp/

# NPM cache directory
.npm

# eslint cache
.eslintcache 

.terraform*
lambda.zip
