version: '3.8'

services:
  # All-in-one test environment (mirrors GitHub Actions)
  playwright-test:
    build:
      context: .
      dockerfile: Dockerfile.test
    volumes:
      # Mount entire project for live updates (except node_modules which is in the image)
      - .:/app
      - /app/node_modules
      # Mount test results
      - ./test-results:/app/test-results
      # Mount AWS credentials from host
      - ~/.aws:/root/.aws:ro
    environment:
      - CI=true
      - TEST_ENV=staging
      - BASE_URL=https://staging.waterwaycleanups.org
      - AWS_REGION=us-east-1
      - AWS_PROFILE=${AWS_PROFILE:-default}
      # Allow environment variables to override if set
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID:-}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY:-}
      - AWS_SESSION_TOKEN=${AWS_SESSION_TOKEN:-}
    network_mode: host
    command: npx playwright test

