<div class="parallax-section !relative !overflow-visible !z-0">
  <div class="!absolute !left-1/2 !-translate-x-1/2 !-translate-y-1/2 !h-full !overflow-visible !top-[-50%]">
    <div data-react-parallax 
         data-src="/uploads/waterway-cleanups/bobber.png" 
         data-alt="Bobber" 
         data-height="200px" 
         data-width="200px" 
         data-scale="1.6" 
         data-bobbing="true"
         data-speed="0.5"
         class="react-parallax-container !w-[200px] !top-[-10px] !relative !h-full !overflow-visible">
    </div>
    <script src="/js/parallax-bundle.js"></script>
  </div>
</div> 