<section class="post">
    <div class="container title">
        {{ partial "breadcrumbs.html" . }}
        <h1>{{ page.Title | safeHTML }}</h1>
        {{ if or page.Params.date (index page.Params.tags 0) }}
        <div class="meta">
            {{ if page.Params.date }}<div>
                {{ partial "event_date.html" (dict "date" (page.Date | time.Format ":date_medium") "class" "event-date") }}
            </div>
            {{ end }}
            {{ if index page.Params.tags 0 }}
            <div>
                <div class="flex gap-2 justify-start flex-wrap">
                    {{ range page.Params.tags }}
                    <a href="/blog/?tag={{ . }}" class="!badge !badge-dash custom-badge bg-eden-green text-granny-smith-apple-green">{{ . }}</a>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
        {{ end }}
    </div>
    <div class="container wide">
        {{- $postimage := `/uploads/gallery/01.jpg` -}}
        {{- if page.Params.image -}}
            {{- $postimage = page.Params.image -}}
        {{- end -}}
        {{- if (resources.GetMatch $postimage) -}}
            {{- $postimage = ((resources.GetMatch $postimage).Fill `1600x800 jpg Smart q50`).RelPermalink -}}
        {{- end -}}
        <img src="{{ $postimage }}" alt="{{ .Title }}" class="featuredimage" />
    </div>
    <div class="container post">
        {{ page.Content }}
    </div>
</section>